.Table th {
  padding-bottom: 0.25em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.Table th > button {
  text-align: inherit;
  font-weight: bold;
  color: var(--text-color);
  width: 100%;
}

.Table tr.Selected td {
  background-color: var(--yellow-background-color);
  border-top: 2px solid var(--yellow-border-color);
  border-bottom: 2px solid var(--yellow-border-color);
}

.Table .SortIcon {
  margin-left: 0.5em;
}

.Table.SelectionEnabled td {
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.Table.SelectionEnabled tr:hover td {
  background-color: var(--yellow-dim-background-color);
  border-top: 2px solid var(--yellow-dim-border-color);
  border-bottom: 2px solid var(--yellow-dim-border-color);
}

.TablePaging button.link {
  width: 2em;
}

.TablePaging .bp3-input-group {
  display: inline;
}

.TablePaging .bp3-input {
  width: 3em;
  height: 2em;
  vertical-align: 0;
  margin: 0 0.5em;
  text-align: center;
}

.TablePaging > span {
  margin: 0 0.5em;
  position: relative;
  top: 0.125em;
  color: var(--text-color-lighter);
}

.TablePaging > span > strong {
  margin-left: 0.5em;
  font-weight: normal;
}

.TablePaging .bp3-button {
  color: var(--text-color-lightest);
}

.Table table:focus {
  outline: none;
}
.Table table:focus th {
  border-bottom: 1px solid var(--hr-color);

  /*background-color: var(--background-color-tertiary);*/
}
