.Table th {
  padding-bottom: 0.25em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.Table th > button {
  text-align: inherit;
  font-weight: bold;
  color: var(--text-color);
}

.Table th > span:not(:last-child):after,
.Table th > button:not(:last-child):after {
  content: "/";
  margin: 0 0.5em;
  font-weight: normal;
  color: var(--text-color-lighter);
  display: inline-block;
  text-decoration: none;
}

.Table tr.Selected td {
  background-color: var(--yellow-background-color);
  border-top: 2px solid var(--yellow-border-color);
  border-bottom: 2px solid var(--yellow-border-color);
}

.Table .CellGroupMember {
  margin-bottom: calc(0.5 * var(--leading));
}

.Table .SortIcon {
  margin-left: 0.5em;
}

.Table.SelectionEnabled td {
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.Table.SelectionEnabled tr:hover td {
  background-color: var(--yellow-dim-background-color);
  border-top: 2px solid var(--yellow-dim-border-color);
  border-bottom: 2px solid var(--yellow-dim-border-color);
}

.TablePaging button.link {
  width: 2em;
}

.TablePaging .bp3-input-group {
  display: inline;
}

.TablePaging .bp3-input {
  width: 3em;
  height: 2em;
  vertical-align: 0;
  margin: 0 0.5em;
  text-align: center;
}

.TablePaging > span {
  margin: 0 0.5em;
  position: relative;
  top: 0.125em;
  color: var(--text-color-lighter);
}

.TablePaging > span > strong {
  margin-left: 0.5em;
  font-weight: normal;
}

.TablePaging .bp3-button {
  color: var(--text-color-lightest);
}
.TablePaging .bp3-button .SingleChevron {
  position: relative;
  bottom: -0.15em;
}

.TablePaging .bp3-button .DoubleChevronRight {
  transform: rotate(-90deg);
  right: -0.06em;
}
.TablePaging .bp3-button .DoubleChevronLeft,
.TablePaging .bp3-button .DoubleChevronRight {
  position: relative;
  bottom: -0.12em;
}
.TablePaging .bp3-button .DoubleChevronLeft {
  transform: rotate(90deg);
  left: -0.06em;
  bottom: -0.18em;
}

.Table table:focus {
  outline: none;
}
.Table table:focus th {
  border-bottom: 1px solid var(--hr-color);

  /*background-color: var(--background-color-tertiary);*/
}
